
.LiveIconContainer {
    height: 22px;
    width: 107px;
}



.LiveIcon {
    
    color: var(--main-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    transition: font-size 0.2s linear;

}
.LiveIcon:hover{
    font-size: 1.3rem;
    transition: font-size 0.2s linear;

}
.WhiteBtn{
    color: white;
}


@media (max-width: 550px){
    .LiveIcon {
        color: var(--main-mobile-color)
    }
    .WhiteBtn {
        color: WHITE;
    }
    .LiveIcon a:hover, .LiveIcon a:focus, .LiveIcon a:active {
        color: var(--main-mobile-color)

    }
    
}