.Layout {
    height: 200vh;
    width: 100vw;
}



.Div {
    height: 300px;
    width: 300px;
    background: red;
    position: relative;
    transform: translateX(-1000px);
    margin-bottom: 100px;
}

.Swipe {
    animation: swipe-in 1s linear;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes swipe-in {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    90% {
        left: 50%;
        transform: translateX(5px);
    }
    100% {
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
    }
}

