

.Layout {
    /* height: 200vh; */
    background: transparent;
    z-index: 5;
}

.Layout .Picture {
    background: url('../../assets/images/1.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: right;

}
.Layout .Picture::after{
    content: '';
    background: rgba(0, 0, 0, 0.37);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
/* 
.Layout .Picture div {
    font-size: 20px;
    height: 150px;
    width:300px;
    top: 50%;
    text-align: left;
    position: relative ;
    transform: translateY(-50%);
    padding: 0 50px;
} */


.Layout nav {
    position: fixed;
    background: rgba(48, 48, 48, 0.247);
    top: 0;
    left: 0;
    width: 100vw;
    height: 5vh;
    display: inline-block;
    z-index: 5;
}
.Layout .Picture .TypingText {
    color: white;
    font-size: 2rem;
    z-index: 10;
    font-size: 4rem;
    font-weight: bold;
    /* height: 150px; */
    width:700px;
    top: 10%;
    text-align: left;
    position: relative ;
    /* transform: translateY(-50%); */
    padding: 0 50px;
    font-family: 'Assistant';
    text-shadow: 2px 2px 2px #000000a6;
}



.Layout .Picture .TypeSec {
    color: #2d54bd;
    text-shadow: 2px 2px  white;
   
}
.Layout .Picture .TypeSec Typewriter__cursor {
    color: red;
}

@media(max-width: 1270px) {
    .Layout .Picture {
        background: url('../../assets/images/1.jpg');
        background-repeat: no-repeat;
        height: 100vh;
        background-size: cover;
        background-position: center;
    
    }
}