.Picture {
    background: url("../../assets/images/background.jpeg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: right;
    position: relative;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Picture::after {
    content: "";
    background: rgba(0, 0, 0, 0.37);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.Picture .TypingText {
    color: white;
    font-size: 2rem;
    z-index: 5;
    font-size: 4rem;
    font-weight: bold;
    width: 700px;
    top: 10%;
    text-align: left;
    padding: 0 50px;
    /* padding-top: 150px; */
    font-family: "Assistant";
    text-shadow: 2px 2px 2px #000000a6;
    min-height: 205px;
}

.Picture .TypeSec {
    color: #2d54bd;
    text-shadow: 2px 2px white;
}

.Picture .TypingText .Circles {
    display: flex;
    width: 50%;
    margin: 40px 0;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    margin: auto;
}
.Picture .TypingText .Circles div {
    background: transparent;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    border: 3px #2d53bd96 solid;
    animation: animate-circle2 2s infinite;

}

.Picture .TypingText .Circles div:nth-child(2) {
    background-color: #2d53bd96;
    border: 3px transparent solid;
    animation: animate-circle 2s infinite;
    height: 0;
    width: 0;
}

@keyframes animate-circle2 {
    0% {
        height: 20px;
        width: 20px;
        background-color:  #2d53bd96;

    }
    50% {
        height: 10px;
        width: 10px;
        background-color:  transparent;

    }
    100% {
        height: 20px;
        width: 20px;
        background-color:  #2d53bd96;

    }
}

@keyframes animate-circle {
    0% {
        height: 10px;
        width: 10px;
        background-color:  transparent;

    }
    50% {
        height: 20px;
        width: 20px;
        background-color:  #2d53bd96;
    }
    100% {
        height: 10px;
        width: 10px;
        background-color:  transparent;

    }
}


@media (max-width: 1270px) {
    .Picture {
        background: url("../../assets/images/background.jpeg");
        background-repeat: no-repeat;
        height: 100vh;
        background-size: cover;
        background-position: center;
    }
}
@media (max-width: 693px) {
    .Picture {
        background: url("../../assets/images/background.jpeg");
        background-repeat: no-repeat;
        height: 100vh;
        background-size: cover;
        background-position: -420px;
    }
    .Picture .TypingText {
        /* padding-top: 200px; */
        font-size: 2.3rem;
        width: 350px;
    }
}
@media (max-width: 693px){
    .Picture .TypeSec{
        width: 400px;
    }
}
