.Picture {
    background: url("../../assets/images/1.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: right;
    position: relative;
}

.Picture::after {
    content: "";
    background: rgba(0, 0, 0, 0.37);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.Picture .TypingText {
    color: white;
    font-size: 2rem;
    z-index: 5;
    font-size: 4rem;
    font-weight: bold;
    width: 700px;
    top: 10%;
    text-align: left;
    position: relative;
    padding: 0 50px;
    padding-top: 150px;
    font-family: "Assistant";
    text-shadow: 2px 2px 2px #000000a6;
}

.Picture .TypeSec {
    color: #2d54bd;
    text-shadow: 2px 2px white;
}
.Picture .TypeSec Typewriter__cursor {
    color: red;
}

@media (max-width: 1270px) {
    .Picture {
        background: url("../../assets/images/1.jpg");
        background-repeat: no-repeat;
        height: 100vh;
        background-size: cover;
        background-position: center;
    }
}
