.Logo {
    
    height: 100%;
    font-size: 1.5rem;
    color: white;
    position: relative;
    font-family: "Koho";
    box-sizing: border-box;
    text-align: left;
    font-weight: bold;
    padding-left: 10px;
    letter-spacing: 2px;
    padding-top: 5px;
}

.Logo span {
    /* font-family: "SigmarOne"; */
}

.Logo .S{
    font-family: inherit;
    color:rgb(161 203 255);
}



@media (max-width: 550px){
    .Logo {
        font-size: 1rem;
        /* position: absolute; */
        flex: none;
        margin: auto;
        padding-left: 50px;
    }
}