.Logo {
    width: 100px;
    height: 100%;
    font-size: 2.5rem;
    color: white;
    position: relative;
    font-family: "HachiMaruPop";
    box-sizing: border-box;
    text-align: left;
    font-family: "Alegreya-Italic";
    font-weight: bold;
    padding-left: 10px;
}

.Logo span {
    background: rgb(0, 68, 255);
    height: 12px;
    width: 12px;
    position: relative;
    display: inline-block;
    border-radius: 100%;
    margin-left: 2px;
    bottom: 0;
    box-shadow: 1px 1px 3px black;
}
