

.Project {
    display: grid;
    grid-row-gap: 100px;
    height: 100%;
    min-height: 110vh;
    padding-top: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    overflow: hidden;
}

.Item:first-child {
    grid-column: 1 / span 2;
}

.Item {
    text-overflow: ellipsis;
    word-break: break-word;
    transition: all 0.3s ease-in;
    opacity: 1;
}

.Project pre {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    white-space: pre-wrap;
    font-family: Assistant;
    padding: 0 30px;
    font-weight: 600;
}
.StackTabContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.StackTab {
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    position: relative;
    /* border-bottom: 5px cornflowerblue solid; */
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: BebasNeue;
    letter-spacing: 2px;
}


.LiveDemoItem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    grid-column: 1 / span 2;
}
.LiveDemoItem .LiveDemoItemContainer {
    background: #e6e6e6;
    border-radius: 50px;
    height: 30%;
    display: flex;
    align-items: center;
    min-width: 150px;
    justify-content: center;
    position: relative;
}

.LiveDemoItemContainer:after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 90%;
    box-shadow: 0px 25px 25px 5px black;
    border-radius: 20%;
}

.Item.TechContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    height: 100px;
}
.TechContainer {
    padding: 0;
    margin: 0;
    padding: 0 10px;
}

.TechContainer .StackItem {
    height: 70px;
    width: 70px;
    background: violet;
}

.Project img {
    outline: white solid 1px;
    outline-offset: -14px;
    margin: auto;
    display: block;
    padding: 10px;
}



.Project h1 {
    margin: 0;
    padding: 0;
    width: 100vw;
}

.ProjectTitleFont {
    font-family: BebasNeue;
    letter-spacing: 2px;
    font-size: 5rem;
    color: var(--main-color);
    height: 100%;
}

.ProjectTitleColored {
    color: white;
}

.ProjectDescription {
    /* font-family: Alegreya-Italic; */
    direction: ltr;
}

.ShowenPicture {
    width: 400px;
    height: 300px;
    margin-bottom: 10px;
    transition: all 0.4s ease-out;
    opacity: 1;
    border-radius: 5px;
}

.ProjectReverse {
    direction: rtl;
}

.TechIconLi {
    background: none !important;
    opacity: 0;
    transform: translateX(0);
}
.TechIconLi.TechIconVisible:first-child {
    animation: revealIcon 0.2s ease-out forwards;
}

.TechIconLi.TechIconVisible:nth-child(2) {
    animation: revealIcon 0.2s ease-out 0.3s forwards;
}
.TechIconLi.TechIconVisible:nth-child(3) {
    animation: revealIcon 0.2s ease-out 0.6s forwards;
}
.TechIconLi.TechIconVisible:nth-child(4) {
    animation: revealIcon 0.2s ease-out 0.9s forwards;
}
.TechIconLi.TechIconVisible:nth-child(5) {
    animation: revealIcon 0.2s ease-out 1.2s forwards;
}
.TechIconLi.TechIconVisible:nth-child(6) {
    animation: revealIcon 0.2s ease-out 1.5s forwards;
}

.HiddenItem {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.3s ease-in;
}

@keyframes revealIcon {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media only screen and (max-width: 800px) {
    .Project {
        grid-template-columns: auto;
        grid-template-rows: auto;
        min-height: 100vh;
    }
    .ShowenPicture {
        height: 100px;
        width: 100px;
    }
    .Item:first-child {
        grid-column: 1 / span 1;
    }
    .ProjectTitleFont {
        font-size: 2rem;
    }
    .Item.TechContainer {
        margin-top: 20px;
    }
    .Project .ProjectDescription {
        font-size: 1.2rem;
    }
    .LiveDemoItem {
        grid-column: unset;
    }
}
