 
.HiddenPictureLeft {
    transform:   translateX(-40vw);
    width: 400px;
    height: 300px;
    margin-bottom: 10px;
    transition: all 0.4s linear;
    opacity: 0;
}
.HiddenPictureRight {
    transform:   translateX(40vw);
    width: 400px;
    height: 300px;
    margin-bottom: 10px;
    transition: all 0.4s  linear;
    opacity: 0;
}


.ShowenPicture {
    width: 400px;
    height: 300px;
    margin-bottom: 10px;
    transition: all 0.4s  linear;
    opacity: 1;
    border-radius: 15px;
}


.Project {
    display: flex;
    justify-content: space-between;
}

.ProjectReverse{
    flex-direction: row-reverse;
}

