.Navbar {
    position: fixed;
    background: transparent;
    top: 0;
    left: 0;
    width: 100vw;
    height: 5vh;
    display: flex;
    z-index: 10;
    transition: background 1s linear;
    justify-content: space-between;
}

.Red {
    background: rgba(48, 48, 48, 0.904);
    transition: background 1s linear;
}
