.Navbar {
    position: fixed;
    background: transparent;
    top: 0;
    left: 0;
    width: 100vw;
    height: 5vh;
    display: flex;
    z-index: 35;
    transition: background 1s linear;
    justify-content: space-between;
}

.Navbar .Hamburger, .HamburgerContainer {
    display: none;
}

.Colorize {
    background: #7a7a7a;
    transition: all 1s linear;
    transition-property: box-shadow, background;
    box-shadow: 0 4px 8px -2px #7a7a7a;
}

@media (max-width: 500px) {
    .HamburgerContainer{
        width: 80px;
        display: inline-block;

    }
    .Navbar .Hamburger {
        width: 40px;
        height: 3px;
        background: white;
        top: 50%;
        transform: translateY(-50%);
        position: relative;
        display: inline-block;
        /* right: 30px; */
        border-radius: 30px;
    }
    .Navbar .Hamburger:before,
    .Navbar .Hamburger:after {
        content: "";
        width: 40px;
        height: 3px;
        background: black;
        position: relative;
        display: inline-block;
        border-radius: 30px;
        background: white;
    }
    .Navbar .Hamburger:before {
        bottom: 20px;
    }
    .Navbar .Hamburger:after {
        top: -23px;
    }
}
