.Navbar {
    position: fixed;
    background: transparent;
    top: 0;
    left: 0;
    width: 100vw;
    height: 5vh;
    display: flex;
    z-index: 35;
    transition: background 0.5s linear;
    justify-content: space-between;
}

.Navbar .Hamburger,
.HamburgerContainer {
    display: none;
}

.Colorize {
    background: #7a7a7a;
    transition: all 0.5s linear;
    transition-property: box-shadow, background;
    box-shadow: 0 4px 8px -2px #7a7a7a;
}

@media (max-width: 500px) {

    /* Closed hamburger */
    .HamburgerContainer {
        width: 40px;
        height: 30px;
        display: flex;
        position: relative;
        z-index: 100;
        top: 50%;
        transform: translateY(-50%);
        margin-right: 17px;
        justify-content: space-around;
        align-items: center;
        flex-flow: column;
        transition: all 0.4s ease;
    }
    .Navbar .Hamburger {
        width: 90%;
        height: 3px;
        background-color: white;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
    }
    .Navbar .Hamburger:before,
    .Navbar .Hamburger:after {
        background: inherit;
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        border-radius: 25px;
    }
    .Navbar .Hamburger:before {
        top: -7px;
    }
    .Navbar .Hamburger:after {
        top: 7px;
    }

    /* Clicked hamburger */
    .Navbar .HamburgerClicked {
        transform: translateY(-50%) rotate(-225deg);
    }
    .Navbar .HamburgerClicked .Hamburger:before,
    .Navbar .HamburgerClicked .Hamburger:after {
        top: 0;
        transform: rotate(90deg);
        transition: all 0.4s ease;
    }
}
