@font-face {
  font-family: "Alegreya-Italic";
  src: local("Alegreya-Italic"),
    url(./assets/fonts/Alegreya-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "Assistant";
  src: local("Assistant"),
    url(./assets/fonts/Assistant-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  src: local("BebasNeue"),
    url(./assets/fonts/BebasNeue) format("truetype");
}
@font-face {
  font-family: "SigmarOne";
  src: local("SigmarOne"),
    url(./assets/fonts/SigmarOne-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Oswald";
  src: local("Oswald"),
    url(./assets/fonts/Oswald-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Koho";
  src: local("Koho"),
    url(./assets/fonts/KoHo-Bold.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  box-sizing: border-box;


}
 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
