@font-face {
  font-family: "Alegreya-Italic";
  src: local("Alegreya-Italic"),
    url(./assets/fonts/Alegreya-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "Assistant";
  src: local("Assistant"),
    url(./assets/fonts/Assistant-VariableFont_wght.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
