.ProgressStyle {
    height: 100%;
    background-color: #2d54bd;
    transition: width 0.2s linear;
}
.ProgressWrapper {
    text-align: left;
    background: transparent;
    height: 8px;
    position: fixed;
    top: 5vh;
    left: 0;
    z-index: 10;
    width: 100%;

}
