.NavLinks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
    height: auto;
    color: white;
    cursor: pointer;
    font-weight: bold;
    list-style-type: none;
}

.NavLinks li div {
    height: 5px;
    background: transparent;
    transition: color 0.3s linear;
}
.NavLinks li:hover {
    color: #2d54bd;
    transition: color 0.2s linear;
}

.NavLinks li:hover div {
    background: #2d54bd;
    animation: border-grow 0.5s linear;
}

@keyframes border-grow {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .NavLinks {
        position: fixed;
        height: 100vh;
        width: 100vw;
        background: #2d54bd;
        flex-direction: column;
        justify-content: space-evenly;
        /* display: none; */
        clip-path: circle(100px at 120% -10%);
        -webkit-clip-path: circle(100px at 120% -10%);
        transition: all 0.6s ease-out;
    }
    .DisplayNavLinks {
        /* display: inline-flex; */
        clip-path: circle(1100px at 120% -10%);
        -webkit-clip-path: circle(1100px at 120% -10%);
    }
}
