:root {
    --first-gray-color: rgb(53, 53, 53);
    --second-gray-color: rgb(44, 44, 44);
}

.Contacts {
    width: 100%;
    position: relative;
    background: rgb(44, 44, 44);
    height: auto;
}

.Seperator {
    position: absolute;
    top: -115px;
    left: 0;
    transform: rotate(180deg);
    max-width: 100vw;
}
.Contacts .Body {
    background: rgba(44, 44, 44, 0);

    height: 100%;
    position: relative;
    height: 30vh;
}

.Image {
    height: 100%;
    width: 100%;
    background: url('../../assets/images/computer-desk.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.1;
}

.Wrapper {
    position: relative;
    width: 100%;
}

.Wrapper h1 {
    padding: 0;
    color: white;
    font-size: 4rem;
}

.Arrows {
    position: absolute;
    left: 0;
    z-index: 13;
}
.Arrows svg {
    fill: red;
}
.Sec {
    height: 130%;
    background: rgb(53, 53, 53);
    padding-top: 50px;
    z-index: 10;
    position: relative;
}
.ContactsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20%;
    height: 80%;
    justify-content: space-evenly;
    font-weight: bold;
    position: absolute;
    z-index: 15;
    top: 30%;
    transform: translateY(50%);
}

.ContactsContainer a {
    font-size: 1.2rem;
    /* background: white; */
    padding: 5px;
    border-radius: 5px;
    color: white;
    /* font-style: italic; */
    font-family: BebasNeue;
    letter-spacing: 2px;
    transition: color 0.3s linear;

}
.ContactsContainer div {
    display: flex;
    margin-bottom: 20px;
}
.ContactsContainer a:hover {
    color: var(--main-color);
    transition: color 0.3s linear;
}

.Icons {
    color: white;
    margin-right: 10px;
}

.ContactsSvg img {
    position: absolute;
    right: 0;
    top: 10px;
    height: calc(100% - 10px);
    z-index: -1;
}

.Wrapper .ContactsTitle {
    font-family: BebasNeue;
    letter-spacing: 4px;
}


.Line{
    fill:var(--main-color);
}
@media (max-width: 550px) {
    .Seperator {
        height: 60px;
        top: -50px;
    }
    .Wrapper h1 {
        font-size: 2rem;
    }
    .ContactsContainer {
        padding-left: 30px;
    }
    .Line{
        fill:var(--main-mobile-color);
    }
    .Contacts a {
        font-size: 1rem;
    }
}
