.AboutMe {
    height: 35vw;
    width: 50vw;
    background-color: rgba(0, 0, 0, 0.541);
    max-width: 100%;
    margin-top: 200px;
    position: relative;
    margin: 150px auto;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 30px black;
}

.AboutMe .Profile {
    background: url("../../assets/images/profile.jpg");
    height: 150px;
    width: 150px;
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
    border-radius: 100%;
    background-size: cover;
    border: 2px solid white;
    position: absolute;
    top: -50px;
    left: -50px;
    box-shadow: 0 0 30px black;
    transition: all 0.2s linear;

}
.AboutMe .Profile:hover{
    height: 160px;
    width: 160px;
    top: -55px;
    left: -55px;
    transition: all 0.2s linear;

}

.AboutMe h1 {
    position: relative;
    top: -60px;
    margin: 0;
    padding: 0;
    font-size: 75px;
    left: 50%;
    font-weight: bold;
    text-shadow: 0 0 30px black;
    transform: translateX(-50%);
    width: 100%;
}
.AboutMe h1 label {
    color: #2d54bd;
    font-weight: bolder;
}


.AboutMe p {
    padding-top: 200px;
}