.AboutMe {
    height: 800px;
    min-height: 600px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    position: relative;
    color: white;
    /* box-shadow: 0px 0px 30px black; */
    top: 0;
    display: flex;
    align-items: center;

    overflow-x: hidden;
}

.AboutMe .Profile {
    background: url('../../assets/images/profile.jpeg');
    height: 250px;
    width: 250px;
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
    border-radius: 100%;
    background-size: cover;
    border: 2px solid white;
    position: relative;
    box-shadow: 0 0 3px black;
    transition: all 0.4s ease-out;
    transition-delay: 0.2s;
    margin-bottom: 30px;
    transform: translateX(0);
}

.AboutMe p {
    padding-top: 200px;
    color: black;
}

.AboutMe .LeftSide {
    background-color: var(--main-color);
    height: 600px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 65px 0 0;
    position: relative;
}

.AboutMe .LeftSide h1 {
    font-size: 75px;
    /* text-shadow: 0 0 30px black; */
    width: 100%;
    text-align: right;
    padding-right: 20px;
    text-transform: uppercase;
    transform: translateX(0);
}
.AboutMe .LeftSide .Tail {
    position: absolute;
    height: 80px;
    width: 80px;
    bottom: 0;
    right: -80px;
    background: var(--main-color);
}

.AboutMe .LeftSide .Tail div {
    height: 110px;
    width: 139px;
    background: white;
    position: relative;
    top: -36px;
    right: 7px;
    border-radius: 100%;
    transform: rotate(45deg);
}

.AboutMe .LeftSide ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    width: 40%;
    transition: all 0.4s ease-out;
    transform: translateX(0);
}

.AboutMe .LeftSide ul li {
    height: 32px;
    width: 32px;
    border-radius: 100%;
    /* border: 1px solid rgba(0, 0, 0, 0.281); */
    cursor: pointer;
    /* box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.678); */
    transition: all 0.15s linear;
}

.AboutMe .LeftSide ul li:hover {
    box-shadow: none;
}

.AboutMe .LeftSide ul li:first-child,
.AboutMe .LeftSide ul li:nth-child(3) {
    height: 32px;
    width: 32px;
    min-width: 32px;
    min-height: 32px;
    background-color: white;
    border-radius: 100%;
    color: rgb(68, 68, 68);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: var(--main-color);
}
.AboutMe .LeftSide ul li:first-child i,
.AboutMe .LeftSide ul li:nth-child(3) i {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: var(--main-color);
}

.AboutMe .LeftSide ul li:hover {
    color: black;
    transition: all 0.15s linear;
}

.AboutMe .LeftSide ul li:first-child:hover,
.AboutMe .LeftSide ul li:nth-child(3):hover {
    background-color: black;
    transition: all 0.15s linear;
}
.AboutMe .LeftSide ul li a {
    outline-style: none;
}
.AboutMe .LeftSide ul li a:visited {
    color: inherit;
}
.MeText {
    position: absolute;
    width: auto;
    margin: 0;
    right: -135px;
    top: 0;
    color: var(--main-color);
    text-shadow: none;
    font-weight: 900;
    /* text-shadow: 0.1px 0.1px 3px black;   */
}
.AboutText {
    position: relative;
    font-weight: 600;
    transition: all 0.4s ease-out;
    transition-delay: 0.4s;
}

.AboutMe .LeftSide .HideLeft {
    transform: translateX(-100px);
    opacity: 0;
}
/* RIGHT SIDE */

.AboutMe .RightSide {
    width: 60%;
    height: 65%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.AboutMe .RightSide h1 {
    font-size: 75px;
    font-weight: 800;
    color: var(--main-color);
    width: 100%;
    text-align: left;
    padding-left: 20px;
}

.AboutMe .RightSide .Text {
    height: 50%;
    width: 80%;
    position: absolute;
    border: 4px var(--main-color) solid;

    border-radius: 15px;
    border-end-start-radius: 80px;
    bottom: 0;
    right: 0;
}

.AboutMe .RightSide .TextP {
    width: 80%;
    position: relative;
    right: 0;
    padding: 0;
    /* padding-top: 30px; */
    text-align: left;
    font-size: 1.5rem;
    font-family: 'BebasNeue';
    line-height: 2.5rem;
    overflow-x: hidden;

    /* margin: auto; */
    /* padding-top: 150px; */
}

.AboutMe .RightSide .TextP strong {
    color: var(--main-color);
}

.AboutMe .RightSide .TextP i {
    color: var(--main-color);
    animation: controller 1s infinite;
}
.Shake {
    animation: shake 0.5s forwards;
}

@keyframes controller {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* mobile */
@media (max-width: 550px) {
    .AboutMe .LeftSide ul li:hover {
        color: white;
    }

    .AboutMe .LeftSide ul li:first-child:hover,
    .AboutMe .LeftSide ul li:nth-child(3):hover {
        background-color: white;
    }
    .AboutMe {
        padding-top: 40px;
        flex-direction: column;
        height: 900px;
    }
    .AboutMe .LeftSide {
        width: 95%;
        height: 450px;
        border-radius: 10px;
        border-bottom-left-radius: 90px;
        border-top-right-radius: 90px;
        background-color: var(--main-mobile-color);
    }

    .AboutMe .LeftSide .AboutText {
        width: auto;
        text-align: left;
        padding-right: 0;
        display: flex;
        font-size: 3rem;
    }

    .AboutMe .LeftSide .MeText {
        color: wheat;
        width: auto;
        position: static;
        text-align: center;
        padding-left: 10px;
        font-size: 3rem;
        font-weight: 900;
        text-shadow: 1px 1px 1px 10px white;
    }

    .AboutMe .LeftSide .Profile {
        height: 200px;
        width: 200px;
    }
    .AboutMe .LeftSide ul {
        width: 50%;
    }
   
    

    .AboutMe .RightSide {
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    .AboutMe .RightSide .TextP {
        width: 85vw;
        font-size: 1.3rem;
        position: relative;
        text-align: center;
    }
    .AboutMe .RightSide .Text {
        position: relative;
    }
    .AboutMe .Tail {
        display: none;
    }
    svg {
        width: 1000px;
    }

    .AboutMe .LeftSide ul li:first-child i,
    .AboutMe .LeftSide ul li:nth-child(3) i {
        color: var(--main-mobile-color);
    }
    .AboutMe .RightSide .TextP strong,
    .AboutMe .RightSide .TextP i {
        color: var(--main-mobile-color);
    }
    .Shake {
        animation: none;
    }
}

    .AboutMe .LeftSide ul li a:link,
    .AboutMe .LeftSide ul li a:visited,
    .AboutMe .LeftSide ul li a:active {
        color: white;
    }
    .AboutMe .LeftSide ul li a:hover{
        color: black;
        transition: all 0.15s linear;

    }
@keyframes shake {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-7deg);
    }
    70% {
        transform: rotate(7deg);
    }
    100% {
        transform: rotate(0);
    }
}
