.Projects {
    position: relative;
    /* height: 70vh; */
    margin-top: 100px;
}

.Projects .Title {
    color: white;
    position: relative;
    height: 200px;
}
.Projects .Title h1 {
    font-size: 4.5rem;
    font-family: "BebasNeue";
    letter-spacing: 10px;
}
.Projects .Title h1 span {
    background: #2d54bd;
    padding-left: 10px;
    padding-right: -100px;
    width: 40px;
    display: inline-block;
    margin-right: 7px;
    text-align: center;
    padding-top: 6px;
}
.Projects .ProjectsList {
    background: white;
}

.Curve {
    fill: white;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}





.HiddenProject {
    background: grey;
    margin: auto;
    width: 400px;
    height: 300px;
    margin-bottom: 10px;
    transition: all 1s linear;
    opacity: 0;
}   


.ShowenProject {
    width: 400px;
    height: 300px;
    background: grey;
    margin: auto;
    margin-bottom: 10px;
    transition: all 1s linear;
    opacity: 1;

}
